@tailwind base;
@tailwind components;
@tailwind utilities;

.article {
  /*padding-left: 5rem;*/
  padding: 5rem 5rem 5rem 5rem;
  background-color: tra;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 100px;
  grid-column-gap: 20px;
  grid-row-gap: 2px;
  justify-items: space-between;
  align-items: space-between;
}

.dropdown-container {
  /*background-color: #262626;*/
  padding-left: 2rem;
  /*  display: block;*/
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.disabledbutton {
  pointer-events: none;
  //opacity: 0.4;
}

.ant-table-thead > tr > th {
  background: #3c69e7 !important;
  color: white !important;
}

.ant-table-row:hover {
  transform: translateY(0.1rem) !important;
  //color: rgb(125 211 252);
  //background-color: rgb(125 211 252);
}

.ant-table-cell-fix-left {
  //background: #eef8ff !important;
  background: rgb(248 250 252) !important;
  font-weight: 500;
  color: blue;
}

//ant-table-cell-fix-left-last
/*.stat_bg {
  //background: radial-gradient(#1fe4f5, #3fbafe);
  background: radial-gradient(#fbc1cc, #fa99b2);
}*/

.ant-statistic-title {
  color: "white";
}

.bring-to-back {
  z-index: 1;
}
.bring-to-fornt {
  z-index: 50;
}

.glassy {
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.ant-menu-item:hover {
  transform: translateY(0.1rem) !important;
  //background-color: green !important;
  //border: 2 2 0 0;
  transition: background-color 0.4s, border 0.4s, color 0.4s ease !important;
}

.ant-menu-item-selected {
  /*.ant-menu-item:fouces {*/
  //background-color: green !important;
  transition: background-color 0.4s, border 0.4s, color 0.4s ease !important;
}

.ant-picker-cell-end,
.ant-picker-cell {
  background: rgb(241 245 249) !important;
  color: #ff5733 !important;
}

.ant-picker-cell-end,
.ant-picker-cell:hover {
  /*background: rgb(241 245 249) !important;
  color: #ff5733 !important;*/
}

/*.ant-picker-cell-inner,*/
.ant-picker-cell-in-view
/*.ant-picker-calendar-date */ {
  background: transparent !important;
  color: blue !important;
}

.ant-statistic-title {
  color: black !important;
  font-size: 1.175rem !important;
}

.ant-picker-calendar-date-value {
  font-weight: bold;
}

.ant-picker-cell-today > div > .ant-picker-calendar-date-value {
  /*  border: 2px solid red;*/
  //border-radius: 9999px !important;
  /*border-color: red !important;*/
  //inline-size: fit-content(20em) !important;
  //overflow: hidden !important;

  //-webkit-text-stroke: 2px red;
  //border-radius: 0.25em black !important;
  /*-moz-border-radius: 100px black !important;*/
  //font-size: "xll";
  border: 2px solid;
  border-radius: 50%;
  padding: 5px 5px 5px 5px !important;
  display: inline-block;
  background: rgb(248 113 113);
  border-color: white;

  color: white !important;
  font-size: 1rem;
}
.events {
  margin: 0;
  padding: 0;
  list-style: none;
}

.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 28px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}

.counter-number {
  position: relative;

  transform: translate3d(0, 300%, 0);

  animation: countdown 1s forwards;
}

/*.ant-statistic-content-value-int {*/
.line {
  animation: 2s anim-lineUp ease-out 1 !important;
}

.inputSearch {
  /*  width: 130px;*/
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.ant-select-selector {
  //background-color: red !important;
  border-radius: 9999px !important;
}

/* When the input field gets focus, change its width to 100% */
/*.inputSearch:focus {
  width: 500px;
}*/

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.InvGrid {
  display: grid;
  grid-template-columns: 70px 31rem 70px 31rem;
  gap: 50px;
  justifycontent: "center";
  //height: "1rem";
}

.InputText {
  border: 0.2px solid rgb(203 213 225);
  border-radius: "100%";
}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  height: 2rem;
}

[data-theme="dark"] .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #434343;
}

.inputclss {
  border-radius: "20%";
}
.ant-select-allow-clear {
  border-bottom-right-radius: 9999px !important;
  border-bottom-left-radius: 9999px !important;
}

input:invalid {
  border: 2px solid red;
}

#submit {
  cursor: pointer;
}

/*div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

div::-webkit-scrollbar-thumb {
  background-color: green;
  outline: 1px solid slategrey;
}*/

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/*float-shadow*/
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

#tabledev::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
}

.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover,
.hvr-glow:focus,
.hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.bg-blueGray-50 {
  --tw-bg-opacity: 1;
  background-color: rgba(248, 250, 252, var(--tw-bg-opacity));
}

.bg-blueGray-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(241, 245, 249, var(--tw-bg-opacity));
}

.bg-blueGray-200 {
  --tw-bg-opacity: 1;
  background-color: rgba(226, 232, 240, var(--tw-bg-opacity));
}

.bg-blueGray-600 {
  --tw-bg-opacity: 1;
  background-color: rgba(71, 85, 105, var(--tw-bg-opacity));
}

.bg-blueGray-700 {
  --tw-bg-opacity: 1;
  background-color: rgba(51, 65, 85, var(--tw-bg-opacity));
}

.bg-blueGray-800 {
  --tw-bg-opacity: 1;
  background-color: rgba(30, 41, 59, var(--tw-bg-opacity));
}
