@tailwind base;
@tailwind components;
@tailwind utilities;

.article {
  //padding-left: 5rem;
  padding: 5rem 5rem 5rem 5rem;
  background-color: tra;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 100px;
  grid-column-gap: 20px;
  grid-row-gap: 2px;
  justify-items: space-between;
  align-items: space-between;
}

.dropdown-container {
  /*background-color: #262626;*/
  padding-left: 2rem;
  /*  display: block;*/
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.disabledbutton {
  pointer-events: none;
  //opacity: 0.4;
}

.ant-table-thead > tr > th {
  background: #3c69e7 !important;
  color: white !important;
}

.ant-table-row:hover {
  transform: translateY(0.1rem) !important;
  //color: rgb(125 211 252);
  //background-color: rgb(125 211 252);
}

.ant-table-cell-fix-left {
  //background: #eef8ff !important;
  background: #eff2f4 !important;
  font-weight: 500;
  color: blue;
}

//ant-table-cell-fix-left-last
/*.stat_bg {
  //background: radial-gradient(#1fe4f5, #3fbafe);
  background: radial-gradient(#fbc1cc, #fa99b2);
}*/

.ant-statistic-title {
  color: "white";
}

.bring-to-back {
  z-index: 1;
}
.bring-to-fornt {
  z-index: 50;
}

.glassy {
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.ant-menu-item:hover {
  transform: translateY(0.1rem) !important;
  //background-color: green !important;
  //border: 2 2 0 0;
  transition: background-color 0.4s, border 0.4s, color 0.4s ease !important;
}

.ant-menu-item-selected {
  /*.ant-menu-item:fouces {*/
  //background-color: green !important;
  transition: background-color 0.4s, border 0.4s, color 0.4s ease !important;
}

.ant-picker-cell-end,
.ant-picker-cell {
  background: #fbf6f2 !important;
  color: #ff5733 !important;
}

/*.ant-picker-cell-inner,*/
.ant-picker-cell-in-view
/*.ant-picker-calendar-date */ {
  background: #fcfeed !important;
  color: blue !important;
}

.ant-picker-calendar-date-value {
  font-weight: bold;
}

.ant-picker-cell-today > div > .ant-picker-calendar-date-value {
  /*  border: 2px solid red;*/
  //border-radius: 9999px !important;
  /*border-color: red !important;*/
  //inline-size: fit-content(20em) !important;
  //overflow: hidden !important;

  //-webkit-text-stroke: 2px red;
  //border-radius: 0.25em black !important;
  /*-moz-border-radius: 100px black !important;*/
  //font-size: "xll";
  border: 2px solid red;
  border-radius: 50%;

  display: inline-block;
  background: red;
  color: white !important;
  font-size: 1rem;
}
.events {
  margin: 0;
  padding: 0;
  list-style: none;
}

.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 28px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}
